<% include partials/header.ejs %>
  <body>
    <div class="addPostContainer">
      <form action="/post/" method="post">
  <input type="file" name="image" accept="image/*">
  <input type="submit">
</form>
    </div>
  </body>
</html>
