<% include partials/header.ejs %>
  <body>
    <div class="addPostContainer">
      <form action="/" method="post">
  <input type="file" name="userFile" accept="image/*">
  <input type="submit">
</form>
    </div>
  </body>
</html>
