<% include partials/header.ejs %>
  <body>
    <div class="singlePost">
    <img class ="singleImage" src="/client/images/<%= postData.image_url %>">

    <h3><%= postData.caption %></h3>
  </div>
  </body>
</html>
